* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::before {
    
}
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

/* layout */
#wrap {
    width: 1200px;
    height: 850px;
    margin: 0 auto;
}

/* header */
#side {
    float: left;
    width: 300px;
    height: 850px;
    background-color: #ccc;
}
#side .logo {
    width: 300px;
    height: 150px;
    background-color: #999;
}
#side .nav {
    width: 300px;
    height: 700px;
    background-color: #888;
}

/* banner */
#banner {
    width: 900px;
    height: 450px;
    background-color: #777;
}

/* contents */
#content {
    float: left;
    width: 900px;
    height: 850px;
    background-color: #ddd;
}
#contents {

}
#contents div {
    float: left;
    width: 33.333333%;
    height: 300px;
}
#contents .cont1 {
    background-color: #666;
}
#contents .cont2 {
    background-color: #555;

}
#contents .cont3 {
    background-color: #444;
}

/* footer */
#footer {

}
#footer div {
    float: left;
}
#footer .foot1 {
    width: 200px;
    height: 100px;
    background-color: #333;
}
#footer .foot2 {
    width: 700px;
    height: 50px;
    background-color: #222;
}
#footer .foot3 {
    width: 700px;
    height: 50px;
    background-color: #111;
}