* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    color: #fff;
}
a {
    color: #333;
    text-decoration: none;
}
li {
    list-style: none;
}
table {
    border-spacing: 0;
}
.clearfix::befor {
    
}
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

/* 레이아웃 */ 
#wrap {
    width: 1200px;
    margin: 0 auto;
    background-color: #ccc;
}

/* header */ 
#header {

}
#header .logo {
    float: left;
    width: 250px;
    height: 100px;
    background-color: #888;
}
#header .nav {
    float: right;
    width: 600px;
    margin-top: 28px;
    background-color: #b39ddb;
}
#header .nav li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
#header .nav li a {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #fff;
}
#header .nav li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
#header .nav li ul.subMenu {
    display: none;
    position: absolute;
    left: 0;
    top: 44px;
    background-color: #b39ddb;
}
#header .nav li ul.subMenu li {
    width: 100%;
}

/* banner */ 
#banner {

    height: 300px;
    background-color: #222;
}

/* contents */ 
#contents {

}
#contents > div {
    float: left;
    width: 400px;
    height: 200px;
}
#contents > .cont1 {
    background-color: #555;
}
#contents > .cont2 {
    background-color: #444;
}
#contents > .cont3 {
    background-color: #333;
}

/* footer */ 
#footer {
    height: 100px;
    background-color: #222;
}
#footer .foot1 {
    float: left;
    width: 200px;
    height: 100px;
    background-color: #888;
}
#footer .foot2 {
    float: left;
    width: 800px;
    height: 100px;
    background-color: #777;
}
#footer .foot3 {
    float: left;
    width: 200px;
    height: 100px;
    background-color: #666;
}