#header {
    width: 100%;
    height: 230px;
    background-color: #666;
}

/* search */
#header__searchWrap {
    position: relative;
    width: 1200px;
    height: 180px;
    margin: 0 auto;
    background-color: #777;
}
.logo-naver::before {
    display: inline-block;
    content: "";
    background-image: url(../img/naver_logo_01.PNG);
    background-repeat: no-repeat;
    background-size: 240px;
    background-position: 10px 45%;
    width: 100%;
    height: 100%;
}
.searchWindow {
    position: absolute;
    top: 33%;
    left: 23%;
    width: 570px;
    height: 55px;
    font-size: 1.5rem;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #03c75a;
    border-radius: 2px 0 0 2px;
}
.searchWindow .textInput {
    width: 70%;
    height: 50px;
    outline: none;
    font-size: 20px;
    padding: 13px 15px;
    background-color: transparent;
    border: 0;
    color: #fff;
}

.searchBtn {
    position: absolute;
    top: 33%;
    left: calc(23% + 521px);
    width: 55px;
    height: 55px;
    padding: 15px;
    border: 0;
    border-radius: 0 2px 2px 0;
    background-color: #03c75a;
}
.searchBtn > img {
    width: 100%;
    color: #fff;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
        brightness(103%) contrast(103%);
}

/* menu */
#header__mainMenuWrap {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    background-color: #888;
}
